{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="{{ last_username }}" required />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />

        <button type="submit">Login</button>

        {% if error %}
            <div class="alert">{{ error.messageKey }}</div>
        {% endif %}
    </form>
    <a href="{{ path('homepage') }}" class="btn btn-secondary">Back</a>
{% endblock %}