{% extends 'base.html.twig' %}

{% block body %}
    <div class="centered-content">
        <h1>Welcome to Alten!</h1>
        <p>Here is a first version of a product management.</p>

        <a href="{{ path('product_index') }}" class="btn btn-primary">View Products</a>
    </div>
{% endblock %}